<html>
<head>
	<title>
		ReCode Printer - A Little Printer Publication for the ReCode Project
	</title>

	<style>
body {
	/*width: 374px;  pub is 384 */
	
		/*border: 2px solid #777;*/
	background: #ccc;

}

.code {
	white-space: pre-wrap;
	font-size: 6px
}
img {
	/*width:280px;*/
	margin: 0 auto;
}

.piece {
	text-align: center;
}

#container {
	
	/*text-align: center;*/
	width: 374px;
	margin-left: auto;
	margin-right: auto;
		font-family: 'Oxygen Mono', sans-serif;
		padding:15px;
		background-color:#fff;
		border: 1px solid #666;

}

/*
.original {
	float:left;
	margin-right: 5px;
}

.recode {
	float: left;
}
*/
.credit {
	font-size: 16px;
}

#logo {
			padding-top: 10px;

	width: 374px;
	margin: 0 auto;
	border-bottom: 2px dotted black;

	padding-bottom: 5px;
	margin-bottom: 15px;
	text-align: center;
}

#logo p {
	margin-bottom: 0px;
}

#num {
	font-size: 80%;
}

#logo img {
	width: 50px;
}

#deets {
	border-top: 2px dotted #000;
		/*border-bottom: 2px dotted #000;*/
		margin-top: 5px;
		font-size: 12px;
		font-style: italic;
		font-weight: bold;

}

.recode a {
	font-weight: bold;
	text-decoration: none;
}

#by {
	font-weight: normal;
	font-style: italic;
	color: #666;
}



</style>
	</head>
	<body>
		<div id="container">
		<div id="logo">
<img width="280px" src="http://recode-printer.herokuapp.com/icon-bw.png"/>
<p>THE RECODE PRINTER</p>
</div>
<div class="recode">
<p>
	Welcome to <b>ReCode Printer</b>, a <a href="http://bergcloud.com/littleprinter">Little Printer</a> publication for the <a href="http://recodeproject.com">ReCode Project</a>. Get a classic work of computer art and a contemporary re-interpretation of it delivered right to your Little Printer.
</p>

<p>	The <b>ReCode Project</b> is a community-driven effort to preserve computer art by translating it into a modern programming language (<a href="http://processing.org">Processing</a>). Every translated work is available to the public to learn from, share, and build on.</p>

<p>In each edition, <b>ReCode Printer</b> delivers on piece of computer art from "Computer Graphics and Art", a quarterly magazine published between 1976 and 1978. Along with the original piece, the publication includes one re-coding contributed by the <b>ReCode Project</b> community.</p>

<p>Visit <a href="http://recodeproject.com/guide">the ReCode Project contribution guide</a> to submit your own re-codings.</p>

<a href="http://www.flickr.com/photos/unavoidablegrain/8649222075/" title="ReCode Printer by atduskgreg, on Flickr"><img src="http://farm9.staticflickr.com/8381/8649222075_01907eb4e2.jpg" width="375" height="500" alt="ReCode Printer"></a>

<p id="by"><em>Created by <a href="http://gregborenstein.com">Greg Borenstein</a>.</em></p>

	</div>
</div>
	</body>
</html>